<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
	<h3>Add a Post:</h3>
	<input type="text" name = "item_name" placeholder="Post Name" maxlength="20" required /> <br>
        <input type="text" name = "location" placeholder="Location" maxlength="30"/> <br>
        <input type="text" name = "file_path" placeholder="File Path" maxlength="100"/> <br>
        <input id="is_not_pub" type="checkbox" name="is_private" value="1" >
		Make Private? <br> If yes, please pick Friend Group(s): <br>

        <input id="is_pub" type='hidden' value='0' name='is_private'>
		<div id="friendgroup"> </div> <br>
		<input type="submit" value = Post />

</form>

<form action="/comment" method="POST">
	<h3>Add a Comment:</h3>
	Content Item Id: <select name="content_ids">
			{% for line in posts %}
    			<option value="{{line.item_id}}">{{line.item_id}}</option>;
			{% endfor %}
   		</select><br>
	<input id="pub_comment" type="checkbox" name="is_public" value="1" > Make Public? <br>
        <input id="priv_comment" type='hidden' value='0' name='is_public'>
	<input type="text" name="comment" placeholder="Enter a Comment" maxlength="256"required/> <br>
	<input type="submit" value = "Add Comment" />

</form>

<style type="text/css">
	table {
    border-collapse: collapse;
    width: 50%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
    background-color: #2313C7;
    color: white;
    }
</style>

<h3>Public Posts:</h3>
<form action="/post" method="GET">
	<input type="radio" value = "publicView"> Public view
    <input type="radio" value = "privateView"> Private view
</form>

<table>
	<th>item_id</th>
	<th>email_post</th>
	<th>post_time</th>
	<th>file_path</th>
	<th>item_name</th>
    <th>location</th>

{% for line in posts %}
	<tr>
		<form action="/tag" method="POST">
		<td>{{line.item_id}}</td>
		<td>{{line.email_post}}</td>
		<td>{{line.post_time}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.item_name}}</td>
        <td>{{line.location}}</td>
		<td> <div id="tagBox"> <input type="text" id="tagged" placeholder="Enter a Person to tag" name = "tagged" required/> <input type="hidden" class="form-control" name="item_id" value="{{line.item_id}}"> </div> <input type="submit" value = Tag /> </td>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error1}}</p>
		{% endif %}
		</form>

<br>

<h3>Public Comments:</h3>
<table>
	<th>commenter</th>
	<th>item_id</th>
	<th>comment</th>

{% for line in comments %}
	<tr>
		<td>{{line.commenter}}</td>
		<td>{{line.item_id}}</td>
		<td>{{line.comment}}</td>
	</tr>
{% endfor %}
</table>

<br>

<h3>Friends in Similar Locations:</h3>
<table>
	<th>location</th>
	<th>Email</th>

{% for line in locdata %}
	<tr>
		<td>{{line.location}}</td>
		<td>{{line.Email}}</td>

	</tr>
{% endfor %}

    </table>
<form action="/addGroup" method="POST">
<h3> Create a Friend Group</h3>
<input type="text" id="friend_group" placeholder="Enter a new Group Name" name = "group_name" required/><br>
<input type="text" id="friend_group" placeholder="Give a description" name = "description"><br>
<input type="submit" value = Create />
</form>
<br>
<a href="/tagPage">My Tags</a> <br>
<a href="/logout">Logout</a>
<br>
</body>
</html>
