<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Content Info</title>
</head>
<body>

<style type="text/css">
	table {
    border-collapse: collapse;
    width: 50%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
    background-color: #2313C7;
    color: white;
    }
</style>

<h3>View All Posts:</h3>
<table>
	<th>item_id</th>
    <th>Tagged People</th>

{% for line in allTags %}
	<tr>
		<form action="/moreInfo" method="POST">
		<td>{{line.item_id}}</td>
        <td>{{line.fullName}}</td>
		</form>
	</tr>
	{% endfor %}
</table>
<br>

</body>
</html>